.section-contacts {
    margin-top: 150px;
    margin-bottom: 150px;
}

.contacts__title {
    margin-bottom: 24px;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
}

.contacts__wrapper {
    display: flex;
    column-gap: 104px;
    flex-wrap: wrap;
}
    
.phone__link,
.email__link {
    display: block;
    font-size: 60px;
    line-height: 60px;
    text-decoration: none;
    transition: 0.5s;
    color: #121212;
}

.contacts__phone:before,
.contacts__email:before {
    content: '';
    display: block;
    margin-bottom: 26px;
    width: 24px;
    height: 24px;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
}

.contacts__phone:before {
    background-image: url('resources/phone.png');
}

.contacts__email:before {
    background-image: url('resources/icon_email.png');
}

.contacts__phone:hover,
.contacts__email:hover {
    border-bottom: 2px solid #000000;
    opacity: 0.5;
}

@media (max-width: 1199px) {

.section-contacts {
    margin-top: 120px;
}

.container {
    width: 100%;
    padding-left: 17px;
    padding-right: 17px;
}

.contacts__wrapper {
    column-gap: 114px;
}

.phone__link,
.email__link {
    font-size: 45px;
}
}

@media (max-width: 767px) {
.container {
    padding-left: 15px;
    padding-left: 15px;
}

.section-contacts {
    margin-top: 80px;
}

.contacts__title {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 19px;
}

.contacts__wrapper {
    row-gap: 20px;
}

.phone__link,
.email__link {
    font-size: 35px;
    line-height: 46px;
}

.contacts__phone:before,
.contacts__email:before {
    margin-bottom: 20px;
    width: 18px;
    height: 18px;
}
}