.contacts__title {
    padding-bottom: 32px;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
}

.contacts__title::before {
    content: '';
    display: block;
    width: 18px;
    height: 24px;
    margin-bottom: 10px;
    background-image: url('resources/phone.png');
    background-position: center;
    background-repeat: no-repeat;
}

.contacts__number {
    padding-bottom: 30px;
    font-size: 60px;
    line-height: 60px;
    color: #121212;
}

.contacts__email {
    font-size: 60px;
    line-height: 60px;
    color: #121212;
}

.number__link {
    text-decoration: none;
    color: #121212;
    transition: 0.5s;
}

.number__link:hover {
    text-decoration: none;
    border-bottom: 1px solid #000000;
    opacity: 0.5;
    transition: 0.5s;
}

.email__link {
    text-decoration: none;
    color: #121212;
}

.email__link:hover {
    border-bottom: 1px solid #000000;
    opacity: 0.5;
}