.gallery-section {
    margin-bottom: 150px;
}

.gallery {
    position: relative;
}

.gallery__slides {
    position: relative;
}

.gallery__slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
}

.gallery__slide_active {
    opacity: 1;
}

.gallery__image {
    width: 100%;
}

.gallery__title-wrapper {
    position: absolute;
    top: 625px;
    left: 125px;
    z-index: 100;
}

.gallery__title {
    width: 443px;
    font-size: 30px;
    line-height: 41px;
    z-index: 100;
    color:#FFFFFF;
}

.gallery__control-wrapper {
    position: absolute;
    top: 560px;
    right: 45px;
    width: 100%;
}

@media (max-width: 1199px) {
    .container {
        width: 100%;
    }
}
