.gallery-section {
    margin-bottom: 150px;
}

.gallery {
    position: relative;
}

.forest-scenery {
    width: 100%;
}

.light-house {
    width: 100%;
}

.private-house {
    width: 100%;
}

.nordwind {
    width: 100%;
}

.gallery__title-wrapper {
    position: absolute;
    width: 100%;
}

.gallery__title {
    width: 443px;
    font-size: 30px;
    line-height: 41px;
    color: #FFFFFF;
}