@import "footer.css";
@import "projects.css";
@import "header.css";
@import "contacts.css";
@import "services.css";
@import "intro.css";
@import "gallery.css";
@import "about-us.css";

html {
    scroll-behavior: smooth;
  }

body {
    font-family:'Manrope', sans-serif;
    margin: 0 auto;
}

h1 {
    width: 956px;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.03em;
    color: #121212;
}

h2 {
    margin-top: 150px;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.03em;
    color: #121212;
}

h3 {
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}

p {
    letter-spacing: -0.03em;
}

a {
    letter-spacing: -0.03em;
}

.container {
    width: 1150px;
    margin: 0px auto;
}

.container-black {
    padding: 150px 125px 90px 125px;
    background: #121212;
}

.section-contacts {
    height: 251px;
    width: 1400px;
    margin: 0 auto;
    padding-left: 125px;
}

@media (max-width: 1199px) {
    .container {
        width: 100%;
        padding-left: 17px;
        padding-right: 17px;
    }

    h1 {
        width: 802px;
        font-size: 50px;
    } 

    h2 {
        margin-top: 120px;
    }
}

@media (max-width: 767px) {
    .container {
        padding-left: 13px;
        padding-left: 13px;
    }

    h1 {
        width: 348px;
        font-size: 30px;
        line-height: 32px;
    }

    h2 {
        margin-top: 80px;
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 19px;
    }
}
