.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}


.popup__content {
    position: relative;
    width: 777px;
    background-color:#FFFFFF;
}

.popup_open {
    display: flex;
}

.popup__close-btn {
    position: absolute;
    top: 32px;
    right: 34px;
    background-image: url('resources/icons_cross.png');
   

}