.project {
    margin-bottom: 94px;
}

.project__list {
    padding-bottom: 30px;
}

.project__image {
    padding-bottom: 15px;
}

.project__title {
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 41px;
}

.project__information {
    font-size: 20px;
    line-height: 20px;  
    text-decoration: none; 
    color: #AD1818;
}

.btn-all__projects {
    display: block;
    margin-bottom: 150px;
    padding-top: 56px;
    height: 153px;
    font-size: 30px;
    line-height: 41px;
    border: 1px solid #AD1818;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition: 0.5s;
    color: #AD1818;
}

.btn-all__projects:hover {
    color: #FFFFFF;
    background-color: #AD1818;
}

@media (max-width: 1199px) {
    .project {
        margin-bottom: 80px;
    }
    
    .project__title {
        font-size: 25px;
        line-height: 34px;
    }
    
    .project__image {
        width: 100%;
    }
    
    .project__information {
        line-height: 27px;  
    }
    
    .btn-all__projects {
        margin-bottom: 103px;
        width: 100%;
    }    
}

@media (max-width: 767px) {
    .project {
        margin-bottom: 49px;
    }

    .project__title {
        font-size: 18px;
        line-height: 25px;
    }

    .project__image {
        padding-bottom: 20px;
        width: 100%;
    }

    .project__information {
        font-size: 16px;
        line-height: 22px;  
    }

    .btn-all__projects {
        height: 100px;
        padding-top: 37px;
        font-size: 22px;
        line-height: 30px;
        border-radius: 4px;
    }
}