.project {
    margin-bottom: 94px;
}

.project__list {
    padding-bottom: 30px;
}

.project__image {
    padding-bottom: 15px;
}

.project__title {
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 41px;
}

.project__information {
    font-size: 20px;
    line-height: 20px;  
    text-decoration: none; 
    color: #AD1818;
}

.btn-all__projects {
    display: block;
    margin-bottom: 150px;
    padding-top: 56px;
    height: 153px;
    font-size: 30px;
    line-height: 41px;
    border: 1px solid #AD1818;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition: 0.5s;
    color: #AD1818;
}

.btn-all__projects:hover {
    color: #FFFFFF;
    background-color: #AD1818;
}