.project {
    margin-bottom: 80px;
}

.project__title {
    font-size: 25px;
    line-height: 34px;
}

.project__image {
    width: 100%;
}

.project__information {
    line-height: 27px;  
}

.btn-all__projects {
    margin-bottom: 103px;
    width: 100%;
}
