.row {
    display: flex;
    justify-content: space-between;
}
.col {
    width: 530px;
}

.review__title {
    margin-top: 30px;
    margin-bottom: 14px;
    font-size: 45px;
    line-height: 62px;
}

.review__txt {
    padding-bottom: 20px;
    font-size: 22px;
    line-height: 30px;
}

@media (max-width: 1199px) {
.col {
    width: 100%;
}
}

@media (max-width: 767px) {
    .row {
        flex-direction: column;
    }

    .col {
        width: 100%;
    }
}