.services__wrapper {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 80px;
}

.service {
    position: relative;
    width: calc(50% - 5px);
    }

.label {
    position: absolute;
    top: 31px;
    left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 5px 20px 5px 20px;
    color: #FFFFFF;
    background: #AD1818;
    border-radius: 5px; 
    }


.label__txt {
    font-size: 22px;
    line-height: 30px;
}

.service__title {
    margin-top: auto;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}

.service__image {
   margin-bottom: 25px;
}

.service__order-btn {
    display: block;
    margin-top: 104px;
    height: 153px;
    font-size: 30px;
    line-height: 153px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition: 0.5s;
    color: #FFFFFF;
    background-color: #AD1818;
}

.service__order-btn:hover {
    color: #AD1818;
    background-color: #FFFFFF
}

@media (max-width: 1199px) {
    .container {
        width: 100%;
        padding-left: 27px;
        padding-right: 27px;
    }

    .service__image {
        width: 100%;
        margin-bottom: 15px;
     }

     .services__wrapper {
        column-gap: 8px;
    }

     .label {
        padding: 6px 26px 6px 26px;
     }

     .label__txt {
        font-size: 20px;
        line-height: 27px;
    
    }

    .service__order-btn {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .container {
        padding-left: 15px;
        padding-left: 15px;
    }

    .services__wrapper {
        row-gap: 60px;
    }

    .service {
        width: 100%;
    }

    .service__title {
        margin-bottom: 20px;
    }

    .service__image {
        width: 100%;
        margin-bottom: 10px;
     }

     .label {
        padding: 5px 24px 5px 24px;
     }

     .label__txt {
        font-size: 14px;
        line-height: 19px;
    }

    .service__order-btn {
        font-size: 22px;
    }
}



