.services__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 80px;
}

.service {
    width: calc(50% - 5px);
    }

.service__title {
    margin-top: auto;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}

.service__image {
   margin-bottom: 25px;
}

