html {
    scroll-behavior: smooth;
  }

body {
    font-family:'Manrope', sans-serif;
    margin: 0 auto;
}

header {
    padding-bottom: 70px;
    padding-top: 33px;
}

h1 {
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.03em;
    color: #121212;
}

h2 {
    margin-top: 150px;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.03em;
    color: #121212;
}

h3 {
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}

p {
    letter-spacing: -0.03em;
}

a {
    letter-spacing: -0.03em;
}

nav {
    display: inline-block;
    vertical-align: top;
}

footer {
    height: 229px;
    margin-top: 150px;
    padding-top: 60px;
    background-color: #121212;
}

.container {
    margin: 0px auto;
    width: 1150px;
}

.logo {
    display: block;
    height: 21px;
    width: 127px
}

.nav__link {
    margin-left: 56px;
    font-size: 18px;
    line-height: 25px;
    text-decoration: none;
    transition: 0.5s;
    color: #121212
}

.nav__link:hover {
    border-bottom: 1px solid #000000;
    opacity: 0.5;
}

.main-img {
    position: relative;
    margin-top: 30px;
    height: 500px;  
    background: linear-gradient(180deg, 
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.2) 100%), 
     url('resources/chair.jpg');
    background-repeat: no-repeat;
}

.main-text {
    position: absolute;
    bottom: 40px;
    left: 40px;
    width: 430px;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
}

.about-dscrptn {
    margin-top: 30px;
    width: 1048px;
    font-size: 45px;
    line-height: 61px;
    color: #121212;
}

.project {
    margin-bottom: 94px;
}

.project__list {
    padding-bottom: 30px;
}

.project__image {
    padding-bottom: 15px;
}

.project__title {
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 41px;
    }

.project__information {
    font-size: 20px;
    line-height: 20px;  
    text-decoration: none; 
    color: #AD1818;
}

.btn-all__projects {
    display: block;
    margin-bottom: 150px;
    padding-top: 56px;
    width: 1150px;
    height: 153px;
    font-size: 30px;
    border: 1px solid #AD1818;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition: 0.5s;
    color: #AD1818;
}

.btn-all__projects:hover {
    color: #FFFFFF;
    background-color: #AD1818;
}

.btn-services-more {
    display: inline-block;
    margin-top: 30px;
    padding: 20px 40px;
    font-size: 20px;
    line-height: 27px;
    border-radius: 5px;
    text-decoration: none;
    background-color: #AD1818;
    color: #FFFFFF;
}

.btn-services-more:hover {
    color: #AD1818;
    background-color: #d8cdcdf1;
    transition: 0.5s;
}

.container-black {
    padding: 150px 125px 90px 125px;
    background: #121212;
}

.services__title {
    margin-top: auto;
    margin-bottom: 37px;
    padding-left: 2px;
    padding-top: 2px;
    width: 66px;
    height: 25px;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}

.service {
    margin: 0 auto;
    width: 1150px;
    margin-bottom: 60px;
}

.service_image {
   margin-bottom: 13px;
}

.logo-link {
    display: inline-block;
    margin-right: 500px;
}

.fullscreen-image {
    height: 717px;
    margin-bottom: 150px;
}

.image-forest-scenery {
    height: 717px;
    background: url('./resources/forest-scenery.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.fixed-side {
    margin: 0 auto;
    width: 1400px;
    height: 717px;
    position: relative;
}

.text-forest-scenery {
    position: absolute;
    left: 125px;
    bottom: 62px;
    width: 443px;
    font-size: 30px;
    line-height: 41px;
    color: #FFFFFF;
}

.section-contacts {
    height: 251px;
    width: 1400px;
    margin: 0 auto;
    padding-left: 125px;
}

.contacts_title {
    padding-bottom: 32px;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
}

.contacts_title::before {
    content: '';
    display: block;
    width: 18px;
    height: 24px;
    margin-bottom: 10px;
    background-image: url('resources/phone.png');
    background-position: center;
    background-repeat: no-repeat;
}

.contacts_number {
    padding-bottom: 30px;
    font-size: 60px;
    line-height: 60px;
    color: #121212;
}

.contacts_email {
    font-size: 60px;
    line-height: 60px;
    color: #121212;
    opacity: 0.5;
}

.number_link {
    text-decoration: none;
    color: #121212;
    transition: 0.5s;
}

.number_link:hover {
    text-decoration: none;
    border-bottom: 1px solid #000000;
    opacity: 0.5;
    transition: 0.5s;
}

.email_link {
    text-decoration: none;
    border-bottom: 1px solid #000000;
    color: #121212;
}

.email_link:hover {
    border-bottom: 1px solid #000000;
    opacity: 0.5;
}

.nav_footer {
    margin: 0 auto;
    width: 461px;
}

.nav__link_footer {
    display: inline-block;
    margin-right: 52px;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.5s;
}

.nav__link_footer:hover {
    opacity: 0.5;
}

.nav__link_footer:nth-last-child(1) {
    margin-right: 0;
}

.text_footer {
    text-align: center;
    margin-top: 87px;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    opacity: 0.5;
}


@media (max-width: 1199px) {
    .container {
        width: 100%;
        padding-left: 17px;
        padding-right: 17px;

    }
}

@media (max-width: 767px) {
    .container {
        width: 100%;
        padding-left: 13px;
        padding-right: 13px;
    }
}
