body {
    font-family:'Manrope', sans-serif;
    width: 100%;
    background: #F5F5F5;
}

.container {
    margin: 0px auto;
    padding: 150px 125px 150px 125px;
    max-width: 1400px;
    background: #FFFFFF;
}

.container-black {
    margin: 0px auto;
    padding: 150px 125px 90px 125px;
    max-width: 1400px;
    background: #121212;
    color: #FFFFFF;
}

h1 {
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.03em;
    color: #121212;
}

h3 {
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}

.chair {
    position: relative;
    margin-top: 30px;
    width: 1150px;
    height: 500px;  
    background-image: url('resources/chair.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

.image-text {
    position: absolute;
    bottom: 40px;
    left: 40px;
    width: 430px;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}

h2 {
    margin-top: 150px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: left;
    letter-spacing: -0.03em;
    color: #121212;
}

p.description {
    margin-top: 30px;
    width: 1048px;
    font-weight: 400;
    font-size: 45px;
    line-height: 61px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #121212;
}

.services {
    display: inline-block;
    margin-top: 30px;
    padding: 20px 40px;
    font-size: 20px;
    line-height: 27px;
    border-radius: 5px;
    text-decoration: none;
    letter-spacing: -0.03em;
    background-color: #AD1818;
    color: #FFFFFF;
}

.project {
    margin-bottom: 90px;
}

.project__list {
    padding-bottom: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.03em;
}

.project__image {
    padding-bottom: 15px;
}

.project__title {
    margin-bottom: 15px;
    height: 41px;
    font-size: 30px;
    line-height: 41px;
    letter-spacing: -0.03em;
    }

.project__information {
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.03em;    
    color: #AD1818;
}

.all__projects {
    display: inline-block;
    padding-top: 56px;
    padding-bottom: 56px;
    width: 1150px;
    height: 153px;
    font-size: 30px;
    line-height: 41px;
    border: 1px solid #AD1818;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    letter-spacing: -0.03em;
    color: #AD1818;
}

.all__projects:hover {
    color: #FFFFFF;
    background-color: #AD1818;
}

.services__title {
    margin-top: auto;
    margin-bottom: 34px;
    width: 66px;
    height: 25px;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}

.service {
    margin-bottom: 60px;
}

.service_image {
   margin-bottom: 15px;
}





